body {
	margin: 0px;
	padding: 0px;
	font-family: '微软雅黑';
}

input:focus,
button:focus {
	outline: none;
}

.mainBody{
	margin: 100px auto;
}

.dialogPanel {
	width: 400px;
	margin: 0px auto;
	border: 1px solid #ccc;
	position: relative;
}

.dialogPanel > .panelTitle {
	padding: 10px;
	color: #333;
	font-size: 16px;
}

.dialogPanel > .panelDescption {
	margin: 0px 15px;
}

.dialogPanel > .panelContainer {
	margin-top: 5px;
	overflow: hidden;
}

.dialogPanel > .panelFooter {
	border-top: 1px solid #ccc;
	margin: 10px;
	padding: 10px 0px 5px 0px;
}

.dialogPanel .bodyDescption {
	color: #999;
	font-size: 12px;
}

.dialogPanel .panelButton {
}

.dialogPanel .panelButton::after {
	display: table;
	content: ' ';
	clear: both;
}

.dialogPanel .buttonContainer {
	display: inline-block;
	float: right;
}

.dialogPanel .panelControlContainer {
	cursor: pointer;
	margin: 10px;
	transition: .1s;
}

.dialogPanel .panelControlContainer:hover {
	color: #f33;
}

.dialogPanel .panelControlClose {
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	display: block;
}

.dialogPanel .panelDialogButton {

	margin: 0px 10px;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 35px;
}

.dialogPanel .dialogButtonYes {
	color: #fff;
	border-color: rgba(23,130,220,.8);
	background-color: rgb(82,168,236);
}

.dialogPanel .dialogButtonYes:hover {
	background-color: rgba(82,168,236,.8);
}

.dialogPanel .dialogButtonNo {

}

.dialogPanel .dialogButtonNo:hover {
	background-color: rgba(238,238,238,.6);
}

.dialogPanel .panelDialogContainer {
	padding: 10px 20px;
}

.loginPanel {
	height: 280px;
	width: 450px;
}

.loginPanel > .panelTitle {
	padding: 10px;
}

.loginPanel > .panelContainer {
	width: 450px;
	height: 160px;
}

.loginPanel > .panelContainer .panelSlider {
	width: 3000px;
	transition: .8s;
	transform: translate3d(0px,0,0);
	
}

.loginPanel > .panelContainer .panelBody {
	width: 450px;
	display: table-cell;
	vertical-align: middle;
}

.loginPanel > .panelContainer .panelBody .panelLoginMethod {
	width: 350px;
	height: 160px;
	padding: 0px 10px;
	margin: 0px auto;
}

.loginPanel > .panelContainer .panelBody .switchSliderLeft {
	transform: translate3d(-500px,0,0);
}

.loginPanel > .panelContainer .panelBody .panelLoginDisplay {
}

.loginPanel > .panelFooter {
	margin: 0px 10px;
	padding: 0px;
}

.panelFooter > .otherLoginWays > .otherLoginMethod {
	margin-right: 5px;
	display: inline-block;
}

.userInput {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	transition: .3s;
}

.userInput:focus {
	border-color: rgba(82,168,236,.8);
}

.inputCell {
	margin: 5px auto;
	padding: 5px;
	
	clear: both;
	position: relative;
}

.inputCell > .rightClickButton {
	top: 0px;
	right: 0px;
	margin: 5px;
	padding: 8px;
	color: #999;
	position: absolute;
}

.inputTitle {
}

.otherWayDescption {
	margin: 5px 0px;
}

.loginWay {
	/*
	color: #fff; 
	*/
	cursor: pointer;
	padding: 0px 3px;
	text-align: center;
	transition: .2s;
}

.loginWay:hover {
	text-decoration: underline;
}

.loginWay > .wayIcon {
	display: inline-block;
	text-align: center;
	line-height: 18px;
	height: 18px;
	width: 19px;
	color: #fff; 
	margin-right: 5px;
}

.loginWay-Forum > .wayIcon {
	background-color: rgba(99, 66, 204, .75);
}

.loginWay-QQ > .wayIcon  {
	padding-right: 1.5px;
	background-color: rgba(23,130,220,.86);
}

.loginWay-Weibo > .wayIcon  {
	background-color: #C33;
}

.loginWay-Wechat > .wayIcon  {
	padding-right: 0.5px;
	background-color: #0a0;
}

.loginControlButton {
	margin-top: 20px;
	display: inline-block;
}

.loginButton {
	display: block;
	width: 100%;
	background: none;
	border: 1px solid #999;
	/* margin: 0px 25px; */
	padding: 5px 40px;
	transition: .2s;
}

.loginButton:hover {
	/*
	color: #fff;
	background-color: rgb(82,168,236);
	*/

}

.loginSubmit {
	color: #fff;
	border-color: rgba(23,130,220,.8);
	background-color: rgb(82,168,236);
}

.loginSubmit:hover {
	background-color: rgba(82,168,236,.8);

	/*
	box-shadow: 0px 0px 3px rgba(82,168,236,.8);
	*/
}

.loginRegister:hover {
	background-color: rgba(238,238,238,.6);

	/*
	border-color: rgba(99,99,99,.8);
	box-shadow: 0px 0px 3px rgba(99,99,99,.8);
	*/
}

.loginIconForum::before {
	font-size: 14px;
	font-style: normal;
	content: 'V'
}

.dialogMessage {
	left: 0;
	right: 0;
	width: 400px;
	margin: 0px auto;
	box-shadow: 0 0px 15px rgba(0,0,0,.5);
	background-color: #fff;
	
	z-index: 550;
	position: relative;
	transform: translateY(-50%);
}

.dialogHide {
	display: none;
}

.messageBox {
	left: 0;
	right: 0;
	top: 50%;
	
	position: absolute;
}

.messageBoxLayout{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: #000;
	opacity: .3;

	z-index: 500;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	transition: .3s;
}